<h2>Register new  User</h2>
<form>
    <Table>
        <tr>
            <td>First Name:</td>
            <td><input type="email" required /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="email" required /></td>
        </tr>
        <tr>
            <td>Email Address:</td>
            <td><input type="email" required /></td>
        </tr>

        <tr>
            <td>Contact Number:</td>
            <td><input type="email" required /></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td><input type="password"  required/></td>
        </tr>
        <tr>
            <td></td>
            <td><button>Register</button></td>
        </tr>
    </Table>
</form>